<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fenix CMS {{ title ? '| ' ~ title : '' }}</title>
		<link rel="stylesheet" href="/admin/view/blocks/style.css"/>
		<link rel="stylesheet" href="/admin/view/blocks/b-table/b-table__lib/handsontable.full.min.css">
	</head>
	<body>
		{# Import #}
		{% from 'blocks/b-twig-template/b-twig-template.twig' import bTwigTemplate %}

		{# Body #}
		{% block body %}{% endblock %}


		{{ load_scripts('app') }}

		{# Twig templates #}
		{{ template_loader('/blocks/b-connect-db/b-connect-db.twig') }}
		{{ template_loader('/blocks/b-alert/b-alert.twig') }}
		{{ template_loader('/blocks/b-popup/b-popup.twig') }}
		{{ template_loader('/blocks/b-create-object/b-create-object.twig') }}
		<script>
			App.context = {
				db_drivers: {{ db_drivers|json_encode|raw }}
			};
		</script>

		{{ load_scripts('blocks') }}

		{# Layouts #}
		<script src="/admin/view/blocks/l-structure/l-structure.js"></script>
	</body>
</html>